.img-item>img, .img-item-newshot > img {
    width: 100%;
    height: 100%;
}
.pd-0{
    padding: 0 !important;
}
.pd-right-0{
    padding-right: 0 !important;
}
.post-item {
    margin-bottom: 20px;
    overflow: hidden;
}
.title-post {
    font-size: 18px;
    margin-top: 0;
}
.describe-content {
    margin-top: 5px;
    line-height: 1.4;
}
.more {
    border: 1px solid;
    display: inline-block;
    padding: 5px 15px;
}
.title-sidebar {
    font-size: 18px;
    margin-bottom: 10px;
}
.title-neswhot {
    font-size: 18px;
    margin-bottom: 20px;
}
.img-item {
    height: 150px;
    display: block;
}
.list-unstyled li {
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 0;
}
.list-unstyled li:last-child {
    border: none;
}
.list-unstyled li a, .customize-page > li > a, .customize-page > li > a > span{
    color: #1f232c !important;
}
.breadcrumb.customize-breadcrumb {
    background: transparent;
    margin-top: 18px;
    font-size: 16px;
}
.img-item-newshot {
    display: block;
    height: 80px;
}